body {
  width: 1920px;
  height: 1080px;
  display: block;
}

/*Header topo Style*/

.navtopo {
  margin-left: 40px;
}

#navtop {
  display: flex;
}
#navtop li a {
  font-family: roboto;
  font-size: 13px;
  font-weight: 450;
  padding-left: 10px;
  color: #333;
}
#navtop li a:hover {
  color: rgba(81, 81, 238, 0.801);
}
/*Figure Style */
figure {
  display: flex;
  position: absolute;
  width: 255px;
  height: 59px;
  padding-top: 5px;
}
#imgbaixo {
  margin-left: 20px;
}

/*Header baixo Style*/
.menubaixo {
  padding-top: 5px;
  width: 1300px;
  margin: 0 auto;
  height: 62px;
  position: relative;
}

#navbaixo {
  display: flex;
  width: 1300px;
  height: 62px;
  position: absolute;
  justify-content: space-around;
}

#navbaixo li {
  display: flex;
  align-items: center;
  font-family: roboto;
  color: #333;
  font-size: 18px;
  font-weight: 440;
  height: 62px;
  position: relative;
  background-color: white;
}
#navbaixo li::before {
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  transition: 0.3s;
  border-bottom: 3px solid #8c002c;
}
#navbaixo li:hover:before {
  width: 100%;
  height: 100%;
  background-color: rgba(151, 151, 144, 0.24);
}
#navbaixo li:hover {
  color: #8c002c;
}

/*Main Style*/
section {
  height: 100%;
}
main {
  width: 1500px;
  height: 100%;
  margin: 0 auto;
  max-width: 1500px;
}

/*Section Style*/

/*Article Style*/
.news1 {
  width: 1500px;
  height: 430px;
  max-height: 100%;
  grid-gap: 2px;
  margin: 0 auto;
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.artigo1 {
  max-width: 100%;
  overflow: hidden;
  background-color: black;
  position: relative;
}
.artigo1 img {
  right: 0;
  opacity: 80%;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
}
.artigo1:hover img {
  transform: scale(1.2);
}

/*artigo2*/

.artigo2 {
  overflow: hidden;
  background-color: black;
  max-width: 100%;
  position: relative;
}
.artigo2 img {
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 80%;
  transition: transform 0.2s;
}
.artigo2:hover img {
  transform: scale(1.2);
}

/* artigo3 */

.artigo3 {
  overflow: hidden;
  background-color: black;
  max-width: 100%;
  position: relative;
}
.artigo3 img {
  right: 0;
  opacity: 80%;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
}
.artigo3:hover img {
  transform: scale(1.2);
}

/* artigo4 */

.artigo4 {
  overflow: hidden;
  position: relative;
  background-color: black;
  max-width: 100%;
  height: 215px;
}
.artigo4 img {
  right: 0;
  opacity: 80%;
  width: 110%;
  height: 110%;
  transition: transform 0.2s;
}
.artigo4:hover img {
  transform: scale(1.2);
}

/* artigo5 */

.artigo5 {
  overflow: hidden;
  background-color: black;
  max-width: 100%;
  height: 215px;
  position: relative;
}
.artigo5 img {
  right: 0;
  opacity: 80%;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
}
.artigo5:hover img {
  transform: scale(1.2);
}

/*Footer Style*/
footer {
  background: transparent;
}
